.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-bg);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: 200ms ease-in-out;
}
.modal-container.hidden {
  opacity: 0;
  z-index: -1;
}

.modal-container .modal {
  width: min(90%, 400px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: 200ms ease-in-out;
  opacity: 1;
  animation: none;
}

.modal-container.hidden .modal {
  opacity: 0;
}

.buttons {
  display: flex;
  gap: 1rem;
}
.cancel {
  background-color: var(--submit-bg);
}
.cancel:hover {
  background-color: var(--submit-bg-hvr);
}
