.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-bg);
  backdrop-filter: blur(5px);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: 150ms ease-in-out;
}
.modal-container.hidden {
  opacity: 0;
  z-index: -1;
}

.modal-container.hidden .modal {
  transform: scale(0.2);
}

.modal-container .modal {
  width: min(90%, 25rem);
  display: grid;
  gap: 1.5rem;
  opacity: 1;
  transition: 250ms ease-in-out;
}

.buttons {
  display: flex;
  gap: 1rem;
}
.cancel {
  background-color: var(--submit-bg);
}
.cancel:hover {
  background-color: var(--submit-bg-hvr);
}
