.results {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: min(90%, 64rem);
  padding: 1rem;
  color: var(--text-clr);
  background-color: var(--alt-bg);
  box-shadow: 0 0 10px var(--outline);
  border-radius: 5px;
  opacity: 0;
  animation: slide-in 300ms ease-in-out forwards;
}

.question-stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.question-stats p {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--picked);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}
.question-stats p:first-child {
  background-color: var(--correct);
}
.question-stats p:nth-child(2) {
  background-color: var(--incorrect);
}

table {
  border-collapse: collapse;
  border: 1px solid var(--text-clr);
  display: block;
  overflow-x: auto;
}

th, td {
  border: 1px solid var(--text-clr);
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: var(--table-even);
}

.result-buttons {
  display: flex;
  gap: 1rem;
}

.result-buttons button {
  width: fit-content;
  padding: 0.75rem 1.5rem;
}
