.results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(90%, 50rem);
  animation: slide-up 400ms ease-in-out forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.results-anchor {
  color: var(--text-clr);
  text-decoration: none;
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.8);
  padding: 0.6rem;
  border-radius: 7.5px;
  transition: 150ms ease-in-out;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.results-anchor:hover {
  background-color: hsla(0, 0%, 5%, 0.8);
  cursor: pointer;
}

.flawless {
  color: hsl(100, 70%, 50%);
}
.excellent {
  color: hsl(150, 70%, 60%);
}
.fail {
  color: hsl(20, 70%, 50%);
}

.question-stats {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.question-stats svg {
  width: 1.4rem;
  display: block;
}
.question-stats p {
  padding: 0.4rem 0.8rem;
  background-color: var(--picked);
  border-radius: 7.5px;
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.question-stats p:first-child {
  background-color: var(--correct);
}
.question-stats p:nth-child(2) {
  background-color: var(--incorrect);
}

table {
  border-collapse: collapse;
  border-radius: 7.5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  overflow: clip;
  box-shadow: 0 0 1px 1px var(--text-clr);
}

th {
  color: var(--label-clr);
}

th,
td {
  font-weight: 400;
  border: 1px solid var(--text-clr);
  padding: 0.5rem 1rem;
  text-align: left;
}

tr:nth-child(even) {
  background-color: var(--bg-clr);
}

tr:last-child {
  background-color: var(--table-bg);
}

@media (max-width: 550px) {
  .question-stats p,
  table {
    font-size: 1rem;
  }
  .question-stats p {
    padding: 0.3rem 0.6rem;
  }
}

@media only screen and (max-width: 668px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  :is(table, thead, tbody, th, td, tr) {
    display: block;
  }

  thead tr {
    position: absolute;
    visibility: hidden;
  }

  tr td:first-child {
    background-color: var(--table-bg);
  }

  td {
    border: none;
    border-bottom: 1px solid var(--text-clr);
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 10px;
    left: 10px;
    white-space: nowrap;
  }
  td:first-child:before {
    content: 'No.';
  }
  td:nth-of-type(2):before {
    content: 'Question';
  }
  td:nth-of-type(3):before {
    content: 'Correct Answer';
  }
  td:nth-of-type(4):before {
    content: 'Your Answer';
  }
  td:nth-of-type(5):before {
    content: 'Points';
  }
  tr:last-child td:first-child {
    display: none;
  }
  tr:last-child td:last-child {
    border-bottom: 0;
  }
  tr:last-child td:last-child:before {
    content: 'Total Score';
  }
}
