form {
  width: min(90%, 24rem);
  display: grid;
  gap: 1.5rem;
  animation: slide-down 400ms ease-in-out forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

label {
  color: var(--label-clr);
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.form-control {
  color: var(--text-clr);
  border: none;
  font-size: inherit;
  padding: 0.5rem;
}

.form-control:focus {
  outline: 2px solid var(--active-bg);
}

.form-control::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--alt-bg);
}

.form-control::-webkit-scrollbar-thumb {
  background-color: var(--text-clr);
  border-radius: 0.2rem;
}

.form-control::-webkit-scrollbar-track-piece:end {
  margin-bottom: 1rem;
}

.form-control::-webkit-scrollbar-track-piece:start {
  margin-top: 1rem;
}

.form-control[type='submit'] {
  transition: 150ms ease-in-out;
  background-color: var(--submit-bg);
}
input[type='submit']:hover {
  background-color: var(--submit-bg-hvr);
  cursor: pointer;
}

.opt-group {
  display: flex;
  gap: 1rem;
}

:is(.form-control, .opt-group option) {
  background-color: var(--inp-bg);
  box-shadow: 0 0 0.5rem 0.1rem var(--inp-outline);
  border-radius: 7.5px;
  width: 100%;
  user-select: none;
}

.opt-group option {
  padding: 0.5rem 1rem;
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-image: linear-gradient(
    to bottom,
    var(--active-bg) 100%,
    transparent 0%
  );
  text-align: center;
  transition: 150ms ease-in-out;
}

@media (max-width: 380px) {
  form {
    padding: 1rem !important;
    gap: 2rem;
  }

  .opt-group option {
    padding: 0.5rem;
  }
}

.opt-group .active {
  animation: active 200ms ease-in-out forwards;
}

@keyframes active {
  100% {
    background-size: 100% 100%;
  }
}

.opt-group .inactive {
  background-size: 100% 100%;
  animation: inactive 200ms ease-in-out forwards;
}

@keyframes inactive {
  100% {
    background-size: 100% 0%;
  }
}

.opt-group option:hover {
  background-color: var(--inp-bg-hvr);
  cursor: pointer;
}
