form {
  width: 24rem;
  margin-top: 4rem;
  padding: 1.25rem;
  font-size: 1.1rem;
  background-color: var(--alt-bg);
  box-shadow: 0 0 0.5rem 0.1rem var(--outline);
  border-radius: 7.5px;
  display: grid;
  place-items: center;
  gap: 1.5rem;
  opacity: 0;
  animation: slide-in 300ms ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

label {
  color: var(--label-clr);
}

.input-container {
  width: 100%;
}

.form-control,
.opt-group option {
  color: var(--text-clr);
  background-color: var(--inp-bg);
  box-shadow: 0 0 0.5rem 0.1rem var(--inp-outline);
  border: none;
  border-radius: 7.5px;
  font-size: inherit;
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  user-select: none;
}

.form-control:focus {
  outline: 2px solid var(--active-bg);
}

.form-control::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--alt-bg);
}

.form-control::-webkit-scrollbar-thumb {
  background-color: var(--active-bg);
}

.form-control::-webkit-scrollbar-track-piece:end {
  margin-bottom: 1rem;
}

.form-control::-webkit-scrollbar-track-piece:start {
  margin-top: 1rem;
}

.form-control[type='submit'] {
  transition: 150ms ease-in-out;
  background-color: var(--submit-bg);
}
input[type='submit']:hover {
  background-color: var(--submit-bg-hvr);
  cursor: pointer;
}

.opt-group {
  display: flex;
  gap: 1rem;
}

.opt-group option {
  padding: 0.5rem 1rem;
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-image: linear-gradient(to bottom, var(--active-bg) 100%, transparent 0%);
  text-align: center;
  transition: 150ms ease-in-out;
}

.opt-group .active {
  animation: active 150ms ease-in-out forwards;
}

@keyframes active {
  100% {
    background-size: 100% 100%;
  }
}

.opt-group .inactive {
  background-size: 100% 100%;
  animation: inactive 150ms ease-in-out forwards;
}

@keyframes inactive {
  100% {
    background-size: 100% 0%;
  }
}

.opt-group option:hover {
  background-color: var(--inp-bg-hvr);
  cursor: pointer;
}
