.quiz {
  width: min(90%, 50rem);
  overflow: clip;
  padding: 0 !important;
  animation: slide-left 400ms ease-in-out forwards;
  opacity: 0;
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%) skewY(-4deg);
  }
  100% {
    transform: translateY(0) skewY(0);
    opacity: 1;
  }
}
