* {
  --btn-blue: hsl(240, 80%, 45%);
  --btn-blue-hover: hsl(240, 80%, 55%);
  --btn-blue-active: hsl(240, 80%, 35%);
}

.header {
  width: 82%;
  margin-bottom: 20px;
  padding: 1em;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

@media (max-width: 390px) {
  .header {
    width: 100%;
  }
}

.leave,
.submit,
.reveal {
  flex-shrink:3;
}

.reveal {
  background-color: var(--btn-blue);
}
.reveal:hover {
  background-color: var(--btn-blue-hover);
}
.reveal.engaged,
.reveal.engaged:hover {
  background-color: hsl(240, 80%, 35%);
}

.quiz-info {
  width: 100%;
  margin: 0 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}

.timer,
.score {
  color: var(--text);
}

@media (max-width: 650px) {
  .timer,
  .score {
    font-size: 1.2em;
  }
}

.quizEnd {
  color: hsl(0, 100%, 70%);
}
.quizSubmit {
  color: hsl(116, 44%, 53%);
}
