* {
  --btn-blue: hsl(240, 80%, 45%);
  --btn-blue-hover: hsl(240, 80%, 55%);
  --btn-blue-active: hsl(240, 80%, 35%);
}

.header {
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  display: flex;
  margin-bottom: 20px;
  padding: 1em;
  position: sticky;
  top: 0;
  width: 82%;
}

.leave,
.submit,
.reveal {
  max-width: 20%;
  min-width: max-content;
}

.reveal {
  background-color: var(--btn-blue);
}
.reveal:hover {
  background-color: var(--btn-blue-hover);
}
.reveal.engaged,
.reveal.engaged:hover {
  background-color: hsl(240, 80%, 35%);
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.timer , .score{
  color: rgb(212, 208, 199);
  text-align: center;
}

@media (max-width : 650px) {
  .timer, .score {
    font-size: 1em;
  }
}

.quizEnd {
  color: hsl(0, 100%, 70%);
}
.quizSubmit {
  color: hsl(116, 44%, 53%);
}
