.header {
  width: clamp(50vw, 100%, 80vw);
  padding: 1rem;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1em;
}

.inner-info {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.quiz-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.quiz-buttons button {
  width:20%;
}

.timer,
.score {
  color: var(--text);
  font-size: 1.3rem;
}

.score {
  opacity : 0;
  animation: dropIn 300ms ease-in-out forwards;
}

@keyframes dropIn {
  from {
    transform: translateY(-20%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

