button {
  background-color: hsl(240, 10%, 40%);
  border-radius: 5px;
  border: 2px solid hsl(0, 1%, 15%);
  color: var(--text);
  padding: 0.5em;
  font-size: 1rem;
  width: 100%;
  transition: 120ms ease-in-out all;
}

button:hover {
  background-color: hsl(240, 10%, 35%);
  cursor: pointer;
}

.correct,
.correct:hover {
  background-color: var(--correct);
  color: white;
}

.incorrect,
.incorrect:hover {
  background-color: var(--wrong);
  color: white;
}

.picked,
.picked:hover {
  background-color: var(--picked);
  color: white;
}

.finished,
.finished:hover {
  cursor: not-allowed;
}
