.btn {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  animation: btn-appear 200ms ease-in-out forwards;
  opacity: 0;
}
.leave {
  background-color: var(--submit-bg);
}

.leave:hover {
  background-color: var(--submit-bg-hvr);
}

@keyframes btn-appear {
  100% {
    opacity: 1;
  }
}
