:is(.footer, .timer) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer {
  padding: 1rem 2rem;
  background-color: black;
}

.timer,
.question-display {
  font-weight: 500;
  background-color: var(--navbar);
  font-size: 1.1rem;
  border-radius: var(--radius);
  color: var(--foreground);
}

.question-display {
  padding: 0.5rem 0.75rem;
}

.timer {
  width: 8ch;
  padding: 0.5rem;
  padding-left: 0.75rem;
}

.timer.quiz-end {
  width: -moz-fit-content;
  width: fit-content;
  color: hsl(0, 100%, 70%);
}

.timer.quiz-submit {
  color: hsl(116, 44%, 53%);
}

.progress-bar {
  background-color: var(--secondary);
  border-radius: 6rem;
  height: 1.2rem;
  overflow: hidden;
  flex: 1;
}

.bar {
  background-color: var(--picked);
  height: 100%;
  transition: 180ms width ease-in-out;
  width: 0;
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 1rem;
  }
  .timer {
    width: 7ch;
  }
  .timer svg {
    width: 1.1rem;
    height: 1.1rem;
  }
}
