.progress-bar {
  background-color: hsl(240, 10%, 20%);
  border: 0.1em solid hsl(240, 10%, 5%);
  border-radius: 0.6em;
  height: 1.2em;
  overflow: hidden;
  width: 80%;
}

.bar {
  background-color: var(--picked);
  height: 100%;
}
