.progress-bar {
  background-color: hsl(240, 10%, 20%);
  border: 0.1em solid hsl(240, 10%, 5%);
  border-radius: 0.6rem;
  height: 1.2rem;
  overflow: hidden;
  width: 100%;
}

.bar {
  background-color: var(--picked);
  height: 100%;
  transition: 200ms width ease-in-out;
}
