.quiz {
  display: flex;
  flex-grow: 1;
  margin-bottom: 2rem;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  color: var(--text);
  width : min(90%, 45rem);
}

.no-questions {
  display: grid;
  place-items: center;
  gap: 20px;
}

.quiz-area {
  width: 100%;
  background-color: hsl(240, 10%, 18%);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  gap: 1em;
  overflow: clip;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loader {
  text-align: center;
}
