.nav-bar {
  background-color: hsl(240, 10%, 10%);
  width: 100%;
  padding: 1em;
  text-align: center;
  display: flex;
}

.nav-title, .nav-svg {
  color: #5454ba;
}

.nav-svg {
  width: 1.8em
}

.nav-title {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 0.5em;
}
