button {
  background-color: hsl(240, 42%, 36%);
  border-radius: 5px;
  border: 2px solid hsl(0, 1%, 15%);
  color: var(--text);
  padding: 0.75rem 0;
  font-size: 1.1rem;
  width: 100%;
  transition: 120ms ease-in-out background-color;
}

button:hover {
  background-color: hsl(240, 41%, 40%);
  cursor: pointer;
}

.correct,
.correct:hover {
  background-color: var(--correct);
  color: white;
}

.incorrect,
.incorrect:hover {
  background-color: var(--wrong);
  color: white;
}

.picked,
.picked:hover {
  background-color: var(--picked);
  color: white;
}

.option {
  opacity: 0;
  animation: option-show 200ms linear forwards;
}

.option:nth-child(2) {
  animation-delay: 200ms;
}

.option:nth-child(3) {
  animation-delay: 400ms;
}

.option:nth-child(4) {
  animation-delay: 600ms;
}

@keyframes option-show {
  0% {
    opacity: 0;
    /* transform: scaleY(0); */
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    /* transform: scaleY(1); */
    transform: rotateX(0deg);
  }
}
