* {
  --correct: hsl(139, 56%, 34%);
  --wrong: hsl(0, 63%, 52%);
  --q-background: hsl(0, 5%, 45%);
}

.question {
  padding: 2em;
  color: rgb(212, 208, 199);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1.2em;
  flex:1;
}

.question h3 {
  color: var(--green);
  display: flex;
  align-items: center;
  flex:1;
}

.options {
  display: inherit;
  flex-direction: inherit;
  gap: 10px;
  align-items: center;
  width: 80%;
}
