:is(.question, .options) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  height: 50vh;
  width: 60%;
  justify-content: space-evenly;
}

@media (max-width: 550px) {
  .options {
    width: 80%;
  }
}

.option-loader {
  height: 50vh;
  display: grid;
  place-items: center;
}

.option {
  opacity: 0;
  animation: option-show 200ms linear forwards;
}
.option:nth-child(2) {
  animation-delay: 200ms;
}
.option:nth-child(3) {
  animation-delay: 400ms;
}
.option:nth-child(4) {
  animation-delay: 600ms;
}

@keyframes option-show {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

:is(.correct, .correct:hover) {
  background-color: var(--correct);
}
:is(.incorrect, .incorrect:hover) {
  background-color: var(--incorrect);
}
:is(.picked, .picked:hover) {
  background-color: var(--picked);
}

.option.incorrect {
  opacity: 1;
  animation: incorrect-shake 800ms 800ms linear;
}

.option.correct {
  opacity: 1;
  animation: correct 800ms 0s linear;
}

@keyframes incorrect-shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(1rem);
  }
  30% {
    transform: translateX(-1rem);
  }
  40% {
    transform: translateX(1rem);
  }
  50% {
    transform: translateX(-1rem);
  }
  60% {
    transform: translateX(1rem);
  }
  70% {
    transform: translateX(-1rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* cool animation */
@keyframes correct {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
  
}
