.question {
  color: rgb(212, 208, 199);
  flex-direction: column;
  display: flex;
  align-items: center;
}

h3 {
  background-color: var(--nav-bg);
  padding: 1rem 2rem;
  color: var(--nav-clr);
  font-size: 1.3rem;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 60%;
  height: 50vh;
}

.option-loader {
  height: 50vh;
  display: grid;
  place-items: center;
}

.correct,
.correct:hover {
  background-color: var(--correct);
}

.incorrect,
.incorrect:hover {
  background-color: var(--wrong);
}

.picked,
.picked:hover {
  background-color: var(--picked);
}

.option {
  opacity: 0;
  animation: option-show 180ms linear forwards;
}
.option:nth-child(2) {
  animation-delay: 200ms;
}
.option:nth-child(3) {
  animation-delay: 400ms;
}
.option:nth-child(4) {
  animation-delay: 600ms;
}

@keyframes option-show {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
