.modal {
  width: min(90%, 25rem);
  margin: auto;
  padding: 1.25rem;
  background-color: var(--secondary);
  color: var(--foreground);
  border: none;
  border-radius: var(--radius);
  box-shadow: 0 0 0 var(--outline), 0 0 0 100vw hsla(0, 0%, 0%, 0.6);
}

.modal p {
  margin-bottom: 1.5rem;
}

.modal-title {
  margin-bottom: 0.5rem;
}

.modal[open] {
  animation: modal-in 150ms ease-in-out;
}

.modal[closing] {
  animation: modal-out 150ms ease-in-out;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.cancel {
  background-color: var(--destructive);
}

.cancel:hover {
  background-color: var(--destructive-hover);
}

@keyframes modal-in {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes modal-out {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(0.75);
    opacity: 0;
  }
}

@media screen and (max-width: 550px) {
  .modal {
    padding: 1rem;
  }
}
