:is(.question, .options) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  min-height: 50vh;
  width: 60%;
  gap: 1rem;
  justify-content: space-evenly;
}

.question-title {
  color: var(--question-foreground);
  font-size: 1.4rem;
  min-height: 12vh;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  font-weight: 500;
  background-color: var(--navbar);
}

.loader-bars {
  display: flex;
  height: 50vh;
  width: 60%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.loader-bar {
  height: 3rem;
  width: 1rem;
  background-image: linear-gradient(
    to top,
    var(--foreground) 0%,
    var(--foreground) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-position: bottom;
  animation: loader-bar 800ms ease-in-out infinite alternate;
}

@keyframes loader-bar {
  100% {
    background-size: 100% 100%;
  }
}

.option {
  opacity: 0;
  padding: 0.8rem 1.6rem;
  width: 100%;
  animation: option-show 200ms linear forwards;
}

.option:nth-child(2) {
  animation-delay: 200ms;
}

.option:nth-child(3) {
  animation-delay: 400ms;
}

.option:nth-child(4) {
  animation-delay: 600ms;
}

.option:is(.incorrect, .correct) {
  transition: 300ms background-color ease-in-out;
  opacity: 1;
}

.option.correct {
  background-color: var(--correct);
  animation: correct 600ms ease-in-out;
}

.option.incorrect {
  background-color: var(--incorrect);
  animation: incorrect-shake 600ms 600ms ease-in-out;
}

@keyframes option-show {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes correct {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes incorrect-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  30%,
  50%,
  70% {
    transform: translateX(-1rem);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(1rem);
  }
}

@media (max-width: 550px) {
  .question-title {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
  .options {
    width: 90%;
  }
}
