.form {
  width: min(90%, 24rem);
  display: grid;
  gap: 1.5rem;
}

.form-label {
  color: var(--label-foreground);
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.form-control {
  color: var(--foreground);
  border: none;
  font-size: inherit;
  padding: 0.5rem;
}

.form-control:focus {
  outline: 2px solid var(--active-bg);
}

.form-control::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--secondary);
}

.form-control::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 0.2rem;
}

.form-control::-webkit-scrollbar-track-piece:end {
  margin-bottom: 1rem;
}

.form-control::-webkit-scrollbar-track-piece:start {
  margin-top: 1rem;
}

.form-control[type="submit"] {
  transition: 150ms ease-in-out;
  background-color: var(--submit);
}

input[type="submit"]:hover {
  background-color: var(--submit-hover);
  cursor: pointer;
}

.option-group {
  display: flex;
  gap: 1rem;
}

:is(.form-control, .option-group button) {
  background-color: var(--input);
  box-shadow: 0 0 0.5rem 0.1rem var(--input-outline);
  border-radius: 7.5px;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
}

.option-group button {
  padding: 0.5rem 1rem;
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-image: linear-gradient(
    to bottom,
    var(--active-bg) 100%,
    transparent 0%
  );
  text-align: center;
  transition: 150ms ease-in-out;
}

@media (max-width: 380px) {
  form {
    padding: 1rem !important;
    gap: 2rem;
  }

  .option-group button {
    padding: 0.5rem;
  }
}

.option-group .active {
  animation: active 200ms ease-in-out forwards;
}

@keyframes active {
  100% {
    background-size: 100% 100%;
  }
}

.option-group .inactive {
  background-size: 100% 100%;
  animation: inactive 200ms ease-in-out forwards;
}

@keyframes inactive {
  100% {
    background-size: 100% 0%;
  }
}

.option-group button:hover {
  background-color: var(--input-hover);
  cursor: pointer;
}
