.page-container {
  margin-bottom: 2rem;
  display: grid;
  place-items: center;
  width: 100vw;
  flex: 1;
}

.page {
  padding: 1.25rem;
  border-radius: 7.5px;
  background-color: var(--secondary);
  box-shadow: 0 0.3rem 0.5rem 0.2rem var(--outline);
  color: var(--foreground);
  font-size: 1.1rem;
}

.error-page {
  display: grid;
  gap: 1.5rem;
  width: min(90%, 25rem);
}
