.page-container {
  margin-bottom: 2rem;
  display: grid;
  place-items: center;
  width: 100%;
  flex: 1;
}

.page {
  padding: 1.25rem;
  border-radius: var(--radius);
  background-color: var(--secondary);
  box-shadow: 0 0.3rem 0.5rem 0.2rem var(--outline);
  color: var(--foreground);
}

.error-page {
  display: grid;
  width: min(90%, 25rem);
}

.error-page h1 {
  margin-bottom: 0.5rem;
}
