.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container {
  height: 100%;
  display: grid;
  place-items: center;
  width: 100vw;
  flex: 1;
}
