@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: var(--bg);
  --bg: hsl(240, 10%, 12%);
  --nav-bg: hsl(240, 10%, 8%);
  --nav-clr: hsl(100, 55%, 50%);
  --alt-bg: hsl(240, 10%, 18%);
  --quiz-hdr-bg: hsl(240, 10%, 5%);
  --btn-bg: hsl(240, 50%, 36%);
  --btn-bg-hvr: hsl(240, 50%, 40%);
  --modal-bg: hsla(240, 10%, 20%, 0.8);
  --inp-bg: hsl(240, 10%, 35%);
  --inp-bg-hvr: hsla(240, 10%, 40%);
  --submit-bg: hsl(0, 80%, 45%);
  --submit-bg-hvr: hsl(0, 80%, 50%);
  --active-bg: hsl(240, 45%, 55%);
  --outline: hsl(240, 0%, 10%);
  --inp-outline: hsl(240, 0%, 15%);
  --green: hsl(39, 50%, 58%);
  --text-clr: hsl(240, 15%, 85%);
  --label-clr: hsl(240, 20%, 90%);
  --picked: hsl(240, 40%, 50%);
  --correct: hsl(100, 56%, 34%);
  --wrong: hsl(0, 63%, 52%);
}

@media (prefers-color-scheme: light){
  body {
    --bg: hsl(240, 10%, 90%);
    --nav-bg: hsl(240, 10%, 94%);
    --nav-clr: hsl(100, 55%, 40%);
    --alt-bg: hsl(240, 10%, 82%);
    --quiz-hdr-bg: hsl(240, 10%, 95%);
    --btn-bg: hsl(240, 50%, 65%);
    --btn-bg-hvr: hsl(240, 50%, 70%);
    --modal-bg: hsla(240, 10%, 20%, 0.8);
    --inp-bg: hsl(240, 10%, 65%);
    --inp-bg-hvr: hsl(240, 10%, 70%);
    --submit-bg: hsl(0, 80%, 60%);
    --submit-bg-hvr: hsl(0, 80%, 65%);
    --active-bg: hsl(240, 43%, 70%);
    --outline: hsl(240, 0%, 90%);
    --inp-outline: hsl(240, 0%, 85%);
    --green: hsl(39, 50%, 58%);
    --text-clr: hsl(240, 15%, 20%);
    --label-clr: hsl(240, 20%, 12%);
    --picked: hsl(240, 40%, 78%);
  }
}

#root {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

button {
  background-color: var(--btn-bg);
  border-radius: 5px;
  border: 2px solid var(--inp-outline);
  color: var(--text-clr);
  padding: 0.8rem 0;
  font-size: 1.2rem;
  width: 100%;
  transition: 150ms ease-in-out;
}

button:hover {
  background-color: var(--btn-bg-hvr);
  cursor: pointer;
}
