@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  --bg: hsl(240, 10%, 12%);
  --green: hsl(39, 50%, 58%);
  --text: hsl(42, 13%, 89%);
  --picked: hsl(240, 38%, 59%);
}

body {
  background-color: var(--bg);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
