@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Rubik' , sans-serif;
}

body {
  background-color: var(--bg);
  --bg: hsl(240, 10%, 12%);
  --nav-bg: hsl(240, 10%, 10%);
  --alt-bg: hsl(240, 10%, 18%);
  --outline : hsl(0, 0%, 10%);
  --green: hsl(39, 50%, 58%);
  --text: hsl(40, 11%, 84%);
  --picked: hsl(240, 38%, 50%);
  --correct: hsl(139, 56%, 34%);
  --wrong: hsl(0, 63%, 52%);
}

/* media query for color sheme */
@media (prefers-color-scheme: light){
  body {
    --bg: hsl(240, 10%, 98%);
    --nav-bg: hsl(240, 10%, 96%);
    --alt-bg: hsl(240, 10%, 94%);
    --outline : hsl(0, 0%, 90%);
    --green: hsl(39, 50%, 58%);
    --text: hsl(40, 11%, 84%);
    --picked: hsl(240, 38%, 50%);
    --correct: hsl(139, 56%, 34%);
    --wrong: hsl(0, 63%, 52%);
  }
}

#root {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

button {
  background-color: hsl(240, 42%, 36%);
  border-radius: 5px;
  border: 2px solid hsl(0, 1%, 15%);
  color: var(--text);
  padding: 0.8rem 0;
  font-size: 1.2rem;
  width: 100%;
  transition: 120ms ease-in-out background-color;
}

button:hover {
  background-color: hsl(240, 41%, 40%);
  cursor: pointer;
}